.filter {
    display: inline-flex;
    width: 100%;
}

.filter-left {
    width: 40%;
    display: inline-block;
}

.filter-right {
    width: 60%;
    display: inline-block;
}

.filter-date-from {
    width: 30%;
    display: inline-block;
}

.filter-date-to {
    width: 30%;
    display: inline-block;
}
