.heading {
    margin-left: 100px;
}

.filter {
    display: flex;
    padding-left: 100px;
}

.filter-left {
    display: inline-block;
    height: 120px;
    margin-right: 24px;
}

.filter-right {
    width: 320px;
    display: inline-block;
    align-items: flex-start;
    height: 120px;
}

.filter-container {
    display: flex;
}

.filter-date-from {
    width: 30%;
    display: inline-block;
}

.filter-date-to {
    width: 30%;
    display: inline-block;
}

.chart {
    width: 95%;
    height: 80%;
    display: inline-block;
}

#chart-legends sub {
    font: 11px Verdana;
    margin-right: 25px;
}

#chart-legends span {
    width: 30px;
    height: 12px;
    display: inline-block;
    margin: 10px 5px 8px 0;
    vertical-align: -9.4px;
}

.reset-container {
    margin-top: 68px;
}